/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* General Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  line-height: 1.2;
  font-size: .85rem;
}

:root {
  --body-bg: #48ADE9;
  --main-bg: #fff;
}

html {
  font-size: 15px;
}

body {
  background: var(--body-bg);
  height: 100vh;
  overflow: hidden;
}

.intro-container {
  min-width: 17rem;
  max-width: 20rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-bg);
  color: #fff;
  padding: .7rem 1rem 1rem;
  border-radius: 6px;
  text-align: center;
  color: #000;
  transition: .5s ease;
}

.intro-container h1 {
  font-family: "ubuntu", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 3px;;
}

.intro-container .angle {
  font-size: 1.8rem;
  margin: 5% 0;
  animation: move .7s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  color: var(--body-bg);
}
@keyframes move {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

.form {
  margin: 5% 0;
  width: 100%;
  text-align: right;
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease;
}
.form label {
  text-align: left;
  display: block;
  font-size: .85rem;
  margin-bottom: 3%;
}
.form input,
.game-container .input-box input{
  margin: 5% 0;
  width: 100%;
  border-radius: 4px;
  border: none;
  height: 2.5rem;
  padding: 0 .8rem;
  font-weight: 500;
  text-align: left;
  background: #dedede;
  transition: .1s ease;
}

.form input:focus,
.game-container .input-box input:focus{
  outline-color: var(--body-bg);
}

.form button{
  border: 1px solid var(--body-bg);
  width: 5rem;
  padding: .4rem 0;
  border-radius: 4px;
  background: var(--body-bg);
  color: #fff;
  transition: .3s ease;
  font-weight: 500;
  font-size: 1rem;
  font-family: "ubuntu", sans-serif;
}
.form button i {
  margin-left: .1rem;
}
.form button:hover{
  background: var(--main-bg);
  color: var(--body-bg);
  border-color: var(--body-bg);
}


.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-bg);
  color: #000;
  padding: .4rem .8rem .8rem;
  min-width: 18rem;
  max-width: 20rem;
  border-radius: 5px;
  display: none;
}
.game-container > div {
  margin-bottom: 2.5%;
}
.game-container .maths {
  text-align: center;
}
.game-container .maths p {
  font-size: 2.5rem;
  font-weight: 550;
  margin: 2% 0;
}
.game-container .comment p {
  text-align: center;
  color: #6ED498;
  font-size: 1.15rem;
  font-weight: 500;
}
.game-container .time {
  height: 3.7rem;
}
.main-time {
  text-align: center;
  color: var(--body-bg);
  font-size: 3.5rem;
  animation: resize 1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes resize {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(.7)
  }
  100% {
    transform: scale(1)
  }
}

.main-time.active {
  color: red;
  font-size: 1.25rem;
  font-weight: 500;
}
.game-container .input-box {
  text-align: center;
}
.game-container .input-box button {
  width: 5rem;
  padding: .4rem 0;
  border-radius: 4px;
  background: var(--body-bg);
  color: #fff;
  transition: .3s ease;
  font-size: .65rem;
  font-weight: 500;
  border: none;
}
.game-container .input-box button:hover {
  transform: scale(.95);
}
.game-container .score {
  font-weight: 500;
  font-size: 0.85rem;
}
.score .high-score {
  margin-top: 2%;
}
.input-box .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#new-game {
  display: none;
}

.preloader {
  height: 100%;
  width: 100%;
  position: relative;
}
.preloader .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  min-width: 17rem;
  max-width: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preloader .load-circle {
  height: 5rem;
  width: 5rem;
  border: 3px solid #fff;
  border-radius: 50%;
  border-right-color: var(--body-bg);
  animation: rotate 1s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  margin-bottom: 10%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  display: none;
  background: rgba(0, 0, 0, .8);
}

.preloader .loader > p{
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}
.loader .loader-box {
  width: 18rem;
  margin: 5% auto 0;
  height: 2rem;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
}
.loader-box .load {
  height: 100%;
  background: var(--body-bg);
  width: 100%;
  animation: width 5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.percent {
  font-size: 1.1rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background: #fff;
  z-index: 100;
}
header .wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
header h1 {
  font-family: "open sans", sans-serif;
  font-size: 1.6rem;
}
header h1 span {
  color: var(--body-bg);
  font-size: 1.6rem;
}
#player-name {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--body-bg);
  text-align: center;
}


@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  
}
